# Pandas 자료구조
= 시리즈(Series), 데이터프레임(DataFrame) 이라는 구조화된 데이터 형식 사용
- 시리즈는 1차원, 데이터프레임은 2차원 배열
- 판다스의 목적은 서로 다른 여러 가지 유형의 데이터를 공통의 포맷으로 정리하는 것
- 뒤에 머신러닝 예제들도 데이터프레임으로 정리된 데이터 사용 
- 시리즈는 파이썬 딕셔너리와 비슷한 구조
- 데이터프레임은 여러개의 시리즈(열,column)를 모아 놓은 집합

In [5]:
# 시리즈 복습
import pandas as pd

# 딕셔너리 -> 시리즈
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
sr = pd.Series(dict_data)

print(type(sr))
print('\n')
print(sr)
print('*' * 20)

# 리스트 -> 시리즈
list_data = ['2023-01-09','스터디','pandas','데이터분석']
ssr = pd.Series(list_data)
print(ssr)

print('*' * 20)
idx = ssr.index
val = ssr.values
print(idx)
print('\n')
print(val)
print('*' * 20)

# 투플 -> 시리즈 
tup_data = ('allday','남자','1999-03-16','Yes')
srr = pd.Series(tup_data, index=['별명','성별','생년월일','학생여부'])
print(srr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64
********************
0    2023-01-09
1           스터디
2        pandas
3         데이터분석
dtype: object
********************
RangeIndex(start=0, stop=4, step=1)


['2023-01-09' '스터디' 'pandas' '데이터분석']
********************
별명          allday
성별              남자
생년월일    1999-03-16
학생여부           Yes
dtype: object

In [6]:
# 데이터프레임 복습
import pandas as pd 

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 데이터프레임 df에 '국어' 점수 열(column)을 추가. 데이터 값은 80 지정
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [11]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
            }
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 데이터프레임 df에 '국어' 점수 열(column)을 추가. 데이터 값은 80 지정
df['국어'] = 80

   이름  수학  영어   음악
0  서준  90  98   85
1  우현  80  89   95
2  인아  70  95  100

In [15]:
# 데이터프레임끼리 더하기
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.head())                  
print()
print(type(df))

# 데이터프레임에 숫자 5 더하기
add = df + 5
print(add.head())
print('*'*20)
print()

print(type(add))

print('*'*20)
print()

# 데이터 프레임끼리 연산 ( add - df)
sub = add - df
print(sub.head())
print('*'*20)
print()
print(type(sub))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

<class 'pandas.core.frame.DataFrame'>
    age     fare
0  27.0  12.2500
1  43.0  76.2833
2  31.0  12.9250
3  40.0  58.1000
4  40.0  13.0500
********************

<class 'pandas.core.frame.DataFrame'>
********************

   age  fare
0  5.0   5.0
1  5.0   5.0
2  5.0   5.0
3  5.0   5.0
4  5.0   5.0
********************

<class 'pandas.core.frame.DataFrame'>

# 데이터 입출력하기

- excel 파일 불러오기 read_excel()
- API 활용하여 데이터 수집하기
- 여러개의 데이터프레임을 excel 파일로 저장

In [19]:
# excel 파일 불러오기
import pandas as pd
df1 = pd.read_excel('./남북한발전전력량.xlsx')
df2 = pd.read_excel('./남북한발전전력량.xlsx', header=None)

print(df1)
print('#' * 30)
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
##############################
          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [27]:
# API 활용하여 데이터 수집하기

# google 지오코딩 API 통해 위도, 경도 가져오기

import googlemaps as gm
import pandas as pd

my_key ='AIzaSyD4WxR7bObOW8pxUbhNXKi3OD3OpUrMeFo'

# 구글맵스 객체 생성
maps = gm.Client(key=my_key) 

lat = []
lng = []

places = ['서울시청','국립국악원','아주대학교']

i = 0
for place in places :
    i = i + 1
    try : 
        print(i,place)
        geo_location = maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        
    except:
        lat.append('')
        lng.append('')
        print(i)
        
# 데이터프레임으로 변환하기
df = pd.DataFrame({'위도':lat,'경도':lng}, index = places)
print()
print(df)

1 서울시청
2 국립국악원
3 아주대학교

              위도          경도
서울시청   37.566535  126.977969
국립국악원  37.477759  127.008304
아주대학교  37.283056  127.044837

In [29]:
# excel 파일로 저장하기
import pandas as pd

data = {'nickname' : ['allday','everyday','friday'],
     'python':[100,85,78],
     'database':[70,60,100],
     '교양':[100,100,100]
     }

df = pd.DataFrame(data)
df.set_index('nickname', inplace=True)
print(df)

# 작성자에게 전달 to_excel () 함수 사용
df.to_excel("./df_score.xlsx")

          python  database   교양
nickname
allday       100        70  100
everyday      85        60  100
friday        78       100  100

# 데이터 살펴보기
### 우리 모두 다 같이 채워 봅시다
- 데이터프레임으로 정리된 데이터셋을 접할 때 위에서 5행을 출력하는 함수 : head()
- 데이터프레임으로 정리된 데이터셋을 접할 때 아래에서 5행을 출력하는 함수 : tail()
- 데이터프레임의 크기(행,열)를 알 수 있는 명령 : shape()
- 데이터프레임의 기본 정보를 알 수 있는 명령 :  info()

판다스 자료형 (data type)
판다스자료형 파이썬자료형  비고
int64      ;      int      ; 정수형 데이터
float64    ;      float    ; 실수형 데이터(소수점이 있는 수)
object     ;      string   ; 문자열 데이터
datetime64 ;      없음(datetime 라이브러리) ; 시간데이터

- 데이터프레임의 기술 통계 정보 요약: describe() 
### 데이터 개수 확인
- 열 데이터 개수 확인하는 함수 : count()
- 각 열의 고유값 개수 : value_counts()


### 통계 함수 적용
- 평균값? : mean()
- 중간값? : median()
- 최대값? : max()
- 최소값? : min()
- 표준편차? : std()
- 상관계수? : corr()

In [30]:
# 정답
# head() , tail() , shape(), info() , count(), value_counts(), mean(), median(), max(), min(), std(), corr()